.page-container {
  padding: 50px 40px 80px 40px;
}

.submitForm {
  text-align: center;
}

.name-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 90px;
}

.name-index p {
  text-align: center;
  margin: 20px 70px;
  padding: 6px 5px;
  color: white;
  background: #2E74C2;
}

#newProject {
  background-color: transparent;
  border: 0px solid;
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: normal;
  font-size: 150%;
  padding: 10px;
}

.projects-container {
  display: flex;
  margin: 60px 0 45px 0;
}

.allResources-container {
  width: 75%;
  padding: 35px 60px;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 60px;
}

#project-searchBar {
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  border: 1px solid #B2B2B2;
  font-size:18px;
  height: 100%;
  width:90%;
  padding: 1% 6%;
}
.guideIndex {
  padding:2% 10%;
}
/* Input */
.wrapper {
  position: relative;
}

svg#search {
  position: absolute;
  top: 30%;
  left: 2%;
  color: #B2B2B2;
}

#project-searchBar::placeholder {
  color: #B2B2B2;
  font-weight: normal;
  font-size: 120%;
}

.allResources-List {
  display: flex;
  padding: 25px 30px;
  flex-wrap: wrap;
}

.resource {
  width: 40%;
  padding: 0 25px;
}

.resourceButton{
  display: flex;
  margin: 5px;
}

.resourceButton p{
  text-align: justify;
}

.resourceButton img{
  margin: 0 10px;
}

a {
  cursor: pointer;
}

.selected-container {
  padding: 40px 20px;
  width: 30%;
}

.selected-container p{
  margin: 0;
  text-align: center;
  padding: 10px 0;
  color: white;
  background: #2E74C2;
  margin-bottom: 15px;
}

.list-container{
  margin: 45px 30px;
}

.listRow {
  display: flex;
  margin: 15px 5px;
}

.listButton{
  display:flex;
  margin: 0;
}

.listButton img{
  margin: 0 10px 3px 10px;
}

p.noResourcesYet{
  background: transparent !important;
  color: grey !important;
}

.listButton p{
  margin: 2px 0 0 0;
  color: black;
  background: transparent;
  padding: 0;
}

#delete {
  margin: 0 10px;
}

#submit {
  color: white;
  padding: 15px 35px;
  font-size: 20px;
  border:2px solid #2E74C2; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #2E74C2;
}
